* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  max-width: 100%;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.user {
  font-size: medium;
  height: 40px;
}
.table tbody tr {
  text-align: left;
}
.table th {
  text-align: left;
}
.table th,
.table td {
  padding: 8px;
  vertical-align: auto;
  border-top: 1px solid #1b1a1a6e;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ffffff;
}
.table tbody {
  border-top: 2px solid #ffffff;
}
.table .table {
  background-color: #ffffff;
}
.table-sm th,
.table-sm td {
  padding: 15px;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
.table tr:hover {
  background-color: gray;
}

#user-login-form {
  padding: 30px;
}

.form-field {
  margin: 15px;
}

.form-field input {
  height: 32px;
  outline: none;
  border: 1px solid #e3e3e3;
}
button {
  padding: 6px 20px;
  margin-left: 15px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 50px;
}
.modal.visible {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal-conteiner {
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
}
.modal-title {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}
